@import "../../designs/css/main.scss";

.profilMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  gap: 1rem;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  h1,
  h2 {
    font-size: 2em;
    color: $text-color;
  }
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 0.3rem;
}

.formBtn {
  padding: 0.5rem;
  font-size: 14px;
  border-radius: 0.3rem;
  width: 120px;
  color: $primary-color;
  border: 1px solid $primary-color;
  background-color: $dark-bg;
  font-weight: bold;
  cursor: pointer;
}
.formBtn:disabled {
  background-color: rgb(255 0 0 / 28%);
  color: #ff0000;
  border: 1px solid red;
}
.error {
  padding: 0.5rem;
}
.editContent {
  display: flex;
  flex-direction: row;

  gap: 1rem;
}

@media screen and (max-width: 920px) {
  .editContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
@media (min-width: 920px) {
}
